= form_for(@book) do |f|
  テキストボックス:
  = f.text_field :isbn, size: 20, maxlength: 25, readonly: true
  %br
  パスワードボックス:
  = f.password_field :isbn, size: 50, maxlength: 15, disabled: true
  %br
  テキストエリア:
  = f.text_area :isbn, cols: 40, rows: 10
  %br
  ラジオボタン:
  %label
    = f.radio_button :published, '技術評論社', class: :rd
    技術評論社
    = f.radio_button :published, '翔泳社', class: :rd
    翔泳社
    = f.radio_button :published, '日経BP社', class: :rd
    日経BP社
  %label
    = f.check_box :dl, { class: 'chk' }, 'yes', 'no'
    サンプルあるかないか
  ファイル入力ボックス
  = f.file_field :isbn, size: 10, maxlength: 15
  = f.hidden_field :isbn, value: '初期値'
